<footer>

    <div class="row">
        <div class="col-md-8">
            <div class="footer-left">
                <!--<img src="/images/hobby-horse.png">-->
                <!--<ul class="footer-links list-inline">-->
                    <!--<li><a>About</a></li>-->
                    <!--<li><a>Contact</a></li>-->
                <!--</ul>-->
            </div>
        </div>
        <div class="col-md-4">
            <div class="footer-right">
                <i class="fa fa-facebook-square"></i>
            </div>
        </div>
    </div>



</footer>
</body>
</html>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="/js/script.js"></script>