<%if (!currentUser){ %>
<%include partials/home-header.ejs%>
<div class="row">
    <div class="col-md-6 col-md-offset-1">

    </div>
    <div class="col-md-4">
        <h1>Sign Up</h1>
        <p>It's free and always will be</p>
        <div class="form-container">
            <form method="post" action="auth/register">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputName">First Name</label>
                            <input type="text" class="form-control" name="inputFirstName" id="inputFirstName">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputName">Last Name</label>
                            <input type="text" class="form-control" name="inputLastName" id="inputLastName">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail">Email address</label>
                    <input type="email" class="form-control" name="inputEmail" id="inputEmail">
                </div>
                <div class="form-group">
                    <label for="inputPassword1">Password</label>
                    <input type="password" class="form-control" name="inputPassword1" id="inputPassword1">
                </div>
                <div class="form-group">
                    <label for="inputPassword2">Confirm Password</label>
                    <input type="password" class="form-control" name="inputPassword2" id="inputPassword2">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>
<%} else {%>
<%include partials/header.ejs%>

<%include partials/footer.ejs%>
<%}%>