<%if (!currentUser){ %>
<%include partials/home-header.ejs%>
<div class="home-page">
<div class="row" >
    <!--<div class="col-md-6 col-md-offset-2">-->
    <!--</div>-->
    <div class="col-md-6 col-md-offset-3 sign-up">
        <div class="text-center">
            <h1>Join Our Community</h1>
            <p>It's free and always will be</p>
        </div>
        <div class="form-container">
            <form method="post" action="auth/register">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <!--<label for="inputFirstName">First Name</label>-->
                            <input type="text" class="form-control" name="inputFirstName" id="inputFirstName"
                                   placeholder="First Name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <!--<label for="inputLastName">Last Name</label>-->
                            <input type="text" class="form-control" name="inputLastName" id="inputLastName"
                                   placeholder="Last Name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <!--<label for="inputEmail">Email address</label>-->
                            <input type="email" class="form-control" name="inputEmail" id="inputEmail"
                                   placeholder="Email">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <!--<label for="inputPassword1">Password</label>-->
                            <input type="password" class="form-control" name="inputPassword1" id="inputPassword1"
                                   placeholder="Password">
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-success">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<%} else {%>
<%include partials/header.ejs%>
    <%include partials/dashboard.ejs%>
<%include partials/footer.ejs%>
<%}%>