<%include partials/home-header.ejs%>
<div class="home-page">
    <div class="jumbotron text-center overlay-404">
        <h1>Please login</h1>
        <p>You must be logged in to see this page</p>
    </div>
</div>