<%include ../partials/header.ejs%>

<table class="table table-striped" id="hobby-list">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Cost</th>
        <th>Time Commitment</th>
        <th>Solo</th>
        <th>Travel Required</th>
        <th>Followers</th>
    </tr>
    <tr>
        <td>hi</td>
    </tr>
</table>

<%include ../partials/footer.ejs%>
