body {
    font-family: Helvetica;
    background-color: white;
    font-weight: 100;
    background-image: url(../images/camping2.png);
    height: 100vh;
    background-size: cover;
}

table {
    border: 1px solid lightgrey;
    background-color: lightgrey;
}

.balance-navbar {
    margin-top: 6%;
}

.home-page {
    height: 100vh;
    background-image: url(../images/camping2.png);
    background-size: cover;
}

.page-404{
    height: 100vh;
    background-image: url(https://i.ytimg.com/vi/oVnAVcbMoSM/maxresdefault.jpg);
    background-size: cover;
    margin-bottom: -120px;
}

.overlay-404 {
    margin-top: 10%;
    position: absolute;
    padding: 15px;
    background-color: rgba(0,0,0,.5);
    color: white;
    width: 100%;
}


.sign-up{
    /*background-color: rgba(255,255,255,.8);*/
    color: white;
    border-radius: 10px;
    padding: 15px;
    margin-top: 10vh;
}

.login-home {
    margin: 10px 10px;
    position: absolute;
    right: 0;
}

footer {
    /*margin-top: 40px;*/
    /*background-color: #1D2F3D;*/
    background-color: white;
    height: 40px;
}

.sticky {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-right {
    padding: 10px;
    color: white;
}

.footer-left {
    padding: 20px;
    background-color: black;
    height: 40px;
    color: black;
}

hr {
    border-top: 1px solid lightgrey;
    margin-top: 15px;
    margin-bottom: 15px;
}

ul {
    list-style: none;
    padding-left: 0;
}

.row {
    margin-right: 0;
}

.feed {
    text-align: left;
}

.feed-article .panel-default {
    border: 0px solid lightgrey;
}

.feed-article .panel-body {
    padding: 0px;
}
.feed-article .panel-heading {
    font-weight: 800;
}

.feed-article a {
    color: black;
    font-size: 20px;
}

.feed-article img {
    width: 100%;
}


/*TODO:Delete this*/
.dashboard-article {
    background-color: white;
    text-align: left;
    padding: 15px;
    border-radius: 5px;
}

.navbar {
    /*background-color: #1D2F3D;*/
    /*border-color: #1D2F3D;    */
    background-color: rgba(0,0,0,1);
    border-color: rgba(0,0,0,0);
    position: absolute;
    width: 100%;
    border-radius: 0px;
    z-index: 10;
}

.navbar-default .navbar-nav > li > a {
    color: ghostwhite;
}

.status-bar{
    height: 60px;
    background-color: white;
    padding: 5px;
}
.main-feed{
    /*border: 1px solid lightgrey;*/
    overflow: scroll;
    height: 87vh;
}

.main-nav {
    padding-left: 4%;
    background-color: rgba(0,0,0,.8);
    height: 100vh;
    margin-top: -19px;
}

.main-nav a {
    color: white;
}

.main-image {
    margin-top: 20px;
}

#profile-picture {
    border-radius: 5px;
}

.main-nav-list {
    list-style: none;
    padding-left: 0;
}

.center-nav-vert {
    padding: 15px;
    display: inline-block;
}

.main-notif {

}

.craigslist-scraper {
    background-color: white;
    /*padding: 10px;*/
    margin-right: 4%;
    margin-left: 15px;
    height: 300px;
    overflow: scroll;
    width: 90%;
    font-size: 14px;
}
.weather-scraper {
    background-color: white;
    /*padding: 10px;*/
    margin-right: 4%;
    margin-left: 15px;
    height: 300px;
    overflow: scroll;
    width: 90%;
    font-size: 12px;
}

.hobby-article{
    /*margin-left: 4%;*/
    border-right: 1px solid lightgrey;
    overflow: scroll;
}

.hobby-header{
    height: 100vh;
    overflow: hidden;
    width: 101.5%;
}

.indiv-hobby-feed {
    margin-right: 4%;
}

.header-overlay {
    position: absolute;
    top: 25%;
    padding: 15px 30px;
    background-color: rgba(0,0,0,.6);
    color: white;
    width: 80%;
}

.hobby-quote {
    border-right: 1px solid lightgrey;
    height: 100%;
}

.hobby-stats {
    height: 150px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 10px;
}

.hobby-stats-short {
    border-right: 1px solid lightgrey;
    height: 100%;
}

.hobby-text-article {
    margin-top: 10px;
    margin-left: 4%;
}

#hobby-list {
    margin: 0 auto;
    width: 50%;
}

.alerts-container {
    margin-top: 50px;
    z-index: 10;
    position: absolute;
}

#hobby-gear {
    height: 100%;
    overflow: scroll;
}

.gear-view {
    width: 50%;
    margin: 0 auto;
}

#search{
    width: 300%;
}

#member-hobby-list {
    width: 50%;
    margin: 0 auto;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}

button#facebook {
    margin-top: 10px;
    border-color: #2d5073;
    background-color: #3b5998;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
}

button#facebook a {
    color: white;
    text-decoration: none;
}

#register-email {
    border-radius: 5px;
    padding: 10px;
}

#dashboard-followers {
    color: white;
    margin-top: 10px;
}

#refreshFeed {
    margin-bottom: 10px;
}

.footer-links {
    margin: 0px 100px;
    position: absolute;
    top: 0;
    padding: 10px;
}

.footer-links a {
    color: white;
}