body {
    font-family: Helvetica;
    background-color: rgba(0,0,0,.1);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

article {
    background-color: white;
    text-align: left;
    padding: 15px;
    border-radius: 5px;
}

.navbar {
    background-color: #1D2F3D;
    border-color: #1D2F3D;
    border-radius: 0px;
}

.status-bar{
    height: 60px;
    background-color: white;
    padding: 5px;
}
.main-feed{
    border-right: 1px solid lightgrey;
}

.main-nav {
    padding-left: 4%;
    border-right: 1px solid lightgrey;
}

.main-nav-list {
    list-style: none;
    padding-left: 0;
}

.center-nav-vert {
    padding: 15px;
    display: inline-block;
}

.main-notif {

}

.craigslist-scraper {
    background-color: white;
    padding: 10px;
    margin-right: 4%;
    margin-left: 15px;
    height: 250px;
    overflow: scroll;
}
.weather-scraper {
    background-color: white;
    padding: 10px;
    margin-right: 4%;
    margin-left: 15px;
    height: 250px;
    overflow: scroll;
}

#hobby-list {
    margin: 0 auto;
    width: 75%;
}

#search{
    width: 200%;
}