<%include ../partials/header.ejs%>
<form method="post" action="/g/add">
    <input type="text" name="gearName" placeholder="E.g. snowboard">
    <input type="number" name="gearValue" placeholder="E.g. $12.49">
    <input type="submit" value="Submit">
</form>
<%include ../partials/footer.ejs%>