<%include ../partials/header.ejs%>

<div class="gear-view">
<form method="post" action="/g/add">
    <input type="text" name="gearName" placeholder="E.g. snowboard">
    <input type="number" name="gearValue" placeholder="E.g. $12.49">
    <input type="submit" value="Submit">
</form>
<table class="table table-striped" id="gear-list">
    <tr>
        <th>Name</th>
        <th>Value</th>
    </tr>

    <%gears.forEach(function(gear){ %>
    <tr>
        <td>
            <%=gear.name%>
        </td>
        <td>
            $<%=gear.value%>
        </td>
    </tr>
    <%})%>
</table>

</div>

<%include ../partials/footer.ejs%>